In [16]:
import pandas as pd
import numpy as np
from pathlib import Path

In [29]:
col_np_uint8 = np.array([1, 2, 3, 4, 250], dtype=np.uint8)
col_np_float32 = np.array(
    [1.0, -np.pi, np.NaN, np.finfo(np.float32).min, np.finfo(np.float32).max],
    dtype=np.float32,
)
# col_np_float32 = np.array([1.0, -np.pi, 0.0, np.finfo(np.float32).min, np.finfo(np.float32).max], dtype=np.float32)

df = pd.DataFrame({"col_np_uint8": col_np_uint8, "col_np_float32": col_np_float32})

In [30]:
df

   col_np_uint8  col_np_float32
0             1    1.000000e+00
1             2   -3.141593e+00
2             3             NaN
3             4   -3.402823e+38
4           250    3.402823e+38

In [31]:
df.dtypes

col_np_uint8        uint8
col_np_float32    float32
dtype: object

In [32]:
df.dtypes.to_dict()

{'col_np_uint8': dtype('uint8'), 'col_np_float32': dtype('float32')}

In [33]:
csv_file = Path("./data/test_csv.csv")

In [34]:
df.to_csv(
    csv_file,
    header=True,
    index=True,
)

In [35]:
df_reload = pd.read_csv(
    csv_file,
    header=0,
    index_col=0,
    float_precision="round_trip",
    dtype={"col_np_uint8": "uint8", "col_np_float32": "float32"},
)

In [36]:
df_reload

   col_np_uint8  col_np_float32
0             1    1.000000e+00
1             2   -3.141593e+00
2             3             NaN
3             4   -3.402823e+38
4           250    3.402823e+38

In [37]:
df_reload.dtypes

col_np_uint8        uint8
col_np_float32    float32
dtype: object