# Example Notebook

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [
        {"a": 1, "b": 2},
        {"a": 3, "b": 4},
        {"a": 5, "b": 6},
    ]
)

In [3]:
df

   a  b
0  1  2
1  3  4
2  5  6