# Aplicações práticas

# 2.10 Exercício 10: Universidades e Tempo de estudo para Exame

## A. Enunciado 

Com base em uma amostra aleatória de 196 alunos do curso de Gestão de Recursos Humanos de três universidades de Lisboa (1. Nova; 2. ISCTE-IUL; 3. ISEG), recolhida por meio de um questionário lançado em 2024 sobre os hábitos de estudo dos estudantes universitários, pretende-se avaliar as diferenças existentes no que se refere ao tempo diário dedicado ao estudo na época de exames (1. tempo ≤ 6 horas; 2. de 6 a 9 horas, inclusive; 3. mais de 9 horas). A variável "universidade" é nominal, por se definir apenas pelo nome. Note-se que, embora o número de horas de estudo seja uma variável ordinal (nome e ordem), por não se esperar um comportamento crescente ou decrescente segundo as universidades, optou-se pela análise da associação considerando ambas as variáveis como nominais. Os dados constam da linha "Count" da Tabela 1, do arquivo "cap02_exerc 10_Universidades Exame.sav" e estão organizados em um dicionário em Python. Ambas as variáveis são nominais porque se definem apenas pelo nome. O estudo é transversal.

# Resolução em Python

## Carregando Bibliotecas

In [1]:
import pandas as pd  # Fornece DataFrames e Series para manipulação de dados em Python, facilitando operações como leitura, escrita, e manipulação de estruturas de dados tabulares.

## Funções Personalizadas

In [2]:
import sys

# Adicionar o caminho do diretório ao sys.path
sys.path.append(r"C:\Users\ricar\OneDrive\Área de Trabalho\Livro\Cap_02\socialdataanalysis")

from association import analisar_independencia_variaveis_tabela_contingencia
from association import gerar_tabela_contingencia
from association import calcular_odds_ratio_razao_risco_discrepancia
from association import complementar_tabela_contingencia_com_analise_estatistica
from association import decompor_tabela_contingencia

## Dados Fornecidos

In [3]:
# Dicionário com dados categorizados representando grupos e suas frequências
dados = {
    'Tempo_estudo': [1, 1, 1, 2, 2, 2, 3, 3, 3],
    'Universidade': [1, 2, 3, 1, 2, 3, 1, 2, 3],
    'Freq': [20, 3, 4, 25, 18, 33, 13, 31, 49]
}

# Criando o DataFrame a partir do dicionário
dados = pd.DataFrame(dados)

# Convertendo as colunas para inteiros, se necessário
dados = dados.astype(int)

# Visualizando o dataframe
display(dados)

   Tempo_estudo  Universidade  Freq
0             1             1    20
1             1             2     3
2             1             3     4
3             2             1    25
4             2             2    18
5             2             3    33
6             3             1    13
7             3             2    31
8             3             3    49

## Tabela 1: Tabela de Contingência

In [4]:
# Obter automaticamente os nomes dos grupos e da coluna de frequência
grupos = dados.columns[:-1].tolist()  # Todos exceto a última coluna
categorias = {
    grupos[0]: ['1. Até 6h', '2. Mais de 6 até 9h', '3. Mais de 9h',],
    grupos[1]: ['1. Nova', '2. ISCTE', '3. ISEG',],
}

tabela_contingencia = gerar_tabela_contingencia(dados, grupos, categorias)

display(tabela_contingencia)

Universidade         1. Nova  2. ISCTE  3. ISEG
Tempo_estudo
1. Até 6h                 20         3        4
2. Mais de 6 até 9h       25        18       33
3. Mais de 9h             13        31       49

## Tabela de Contingência com Cálculos

In [5]:
# Função personalizada complementar_tabela_contingencia_com_analise_estatistica
combined_df = complementar_tabela_contingencia_com_analise_estatistica(tabela_contingencia)

# Visualizando resultado
display(combined_df)

Universidade                              1. Nova 2. ISCTE 3. ISEG  Total
Tempo_estudo
1. Até 6h           Count                    20.0      3.0     4.0   27.0
                    Expected Count            8.0      7.2    11.8   27.0
                    % within Tempo_estudo    74.1     11.1    14.8  100.0
                    % within Universidade    34.5      5.8     4.7   13.8
                    % of Total               10.2      1.5     2.0   13.8
                    Standardized Residual     4.2     -1.6    -2.3
                    Adjusted Residual         5.5     -2.0    -3.3
2. Mais de 6 até 9h Count                    25.0     18.0    33.0   76.0
                    Expected Count           22.5     20.2    33.3   76.0
                    % within Tempo_estudo    32.9     23.7    43.4  100.0
                    % within Universidade    43.1     34.6    38.4   38.8
                    % of Total               12.8      9.2    16.8   38.8
                    Standardized Residual     0.5     -0.5    -0.1
                    Adjusted Residual         0.8     -0.7    -0.1
3. Mais de 9h       Count                    13.0     31.0    49.0   93.0
                    Expected Count           27.5     24.7    40.8   93.0
                    % within Tempo_estudo    14.0     33.3    52.7  100.0
                    % within Universidade    22.4     59.6    57.0
                    % of Total                6.6     15.8    25.0   47.4
                    Standardized Residual    -2.8      1.3     1.3
                    Adjusted Residual        -4.6      2.0     2.4
Total               Count                    58.0     52.0    86.0  196.0
                    Expected Count           58.0     52.0    86.0  196.0
                    % within Tempo_estudo    29.6     26.5    43.9  100.0
                    % within Universidade   100.0    100.0   100.0   52.6
                    % of Total               29.6     26.5    43.9  100.0

<font color="blue">    
    
### 2.10.1. Teste do rácio da verosimilhança e hipoteses
</font>

<font color="blue">
    
#### a) Analisar a associação entre as variáveis, usando o teste do rácio da verosimilhança G², por a tabela ser i x j diferente de 2 x 2.
</font>

In [6]:
analisar_independencia_variaveis_tabela_contingencia(tabela_contingencia, 
                                                     mostrar_pearson=True, 
                                                     mostrar_continuity=False, 
                                                     mostrar_likelihood=True, 
                                                     mostrar_fisher=False)

                    Value df Asymp. Sig. (2-sided)
Test
Pearson Chi-Square  37.12  4                 0.000
Likelihood Ratio    35.89  4                 0.000
N. of Valid Cases     196

a. 0 cells (0.00%) have expected count less than 5. The minimum expected count is 7.16.

<font color="blue">
    
### 2.10.2. Decomposição do teste G2
</font>

<font color="blue">
    
#### b) Aprofundar a associação entre universidades e número de horas de estudo em época de exames.
</font>

In [7]:
# Função personalizada complementar_tabela_contingencia_com_analise_estatistica  
subtabelas = decompor_tabela_contingencia(tabela_contingencia)

Universidade                                            1. Nova
Tempo_estudo
1. Até 6h                         Count                    20.0  \
                                  Expected Count            8.0
                                  % within Tempo_estudo    74.1
                                  % within Universidade    34.5
                                  % of Total               10.2
                                  Standardized Residual     4.2
                                  Adjusted Residual         5.5
2. Mais de 6 até 9h&3. Mais de 9h Count                    38.0
                                  Expected Count           50.0
                                  % within Tempo_estudo    22.5
                                  % within Universidade    65.5
                                  % of Total               19.4
                                  Standardized Residual    -1.7
                                  Adjusted Residual        -5.5
Total                             Count                    58.0
                                  Expected Count           58.0
                                  % within Tempo_estudo    29.6
                                  % within Universidade   100.0
                                  % of Total               29.6

Universidade                                            2. ISCTE&3. ISEG
Tempo_estudo
1. Até 6h                         Count                              7.0  \
                                  Expected Count                    19.0
                                  % within Tempo_estudo             25.9
                                  % within Universidade              5.1
                                  % of Total                         3.6
                                  Standardized Residual             -2.8
                                  Adjusted Residual                 -5.5
2. Mais de 6 até 9h&3. Mais de 9h Count                            131.0
                                  Expected Count                   119.0
                                  % within Tempo_estudo             77.5
                                  % within Universidade             94.9
                                  % of Total                        66.8
                                  Standardized Residual              1.1
                                  Adjusted Residual                  5.5
Total                             Count                            138.0
                                  Expected Count                   138.0
                                  % within Tempo_estudo             70.4
                                  % within Universidade            100.0
                                  % of Total                        70.4

Universidade                                             Total
Tempo_estudo
1. Até 6h                         Count                   27.0
                                  Expected Count          27.0
                                  % within Tempo_estudo  100.0
                                  % within Universidade   13.8
                                  % of Total              13.8
                                  Standardized Residual
                                  Adjusted Residual
2. Mais de 6 até 9h&3. Mais de 9h Count                  169.0
                                  Expected Count         169.0
                                  % within Tempo_estudo  100.0
                                  % within Universidade   86.2
                                  % of Total              86.2
                                  Standardized Residual
                                  Adjusted Residual
Total                             Count                  196.0
                                  Expected Count         196.0
                                  % within Tempo_estudo  100.0
                                  % within Universidade  100.0
                                  % of Total             100.0

Universidade                              1. Nova 2. ISCTE&3. ISEG  Total
Tempo_estudo
2. Mais de 6 até 9h Count                    25.0             51.0   76.0
                    Expected Count           17.1             58.9   76.0
                    % within Tempo_estudo    32.9             67.1  100.0
                    % within Universidade    65.8             38.9   45.0
                    % of Total               14.8             30.2   45.0
                    Standardized Residual     1.9             -1.0
                    Adjusted Residual         2.9             -2.9
3. Mais de 9h       Count                    13.0             80.0   93.0
                    Expected Count           20.9             72.1   93.0
                    % within Tempo_estudo    14.0             86.0  100.0
                    % within Universidade    34.2             61.1   55.0
                    % of Total                7.7             47.3   55.0
                    Standardized Residual    -1.7              0.9
                    Adjusted Residual        -2.9              2.9
Total               Count                    38.0            131.0  169.0
                    Expected Count           38.0            131.0  169.0
                    % within Tempo_estudo    22.5             77.5  100.0
                    % within Universidade   100.0            100.0  100.0
                    % of Total               22.5             77.5  100.0

Universidade                                            2. ISCTE 3. ISEG
Tempo_estudo
1. Até 6h                         Count                      3.0     4.0  \
                                  Expected Count             2.6     4.4
                                  % within Tempo_estudo     42.9    57.1
                                  % within Universidade      5.8     4.7
                                  % of Total                 2.2     2.9
                                  Standardized Residual      0.2    -0.2
                                  Adjusted Residual          0.3    -0.3
2. Mais de 6 até 9h&3. Mais de 9h Count                     49.0    82.0
                                  Expected Count            49.4    81.6
                                  % within Tempo_estudo     37.4    62.6
                                  % within Universidade     94.2    95.3
                                  % of Total                35.5    59.4
                                  Standardized Residual     -0.1     0.0
                                  Adjusted Residual         -0.3     0.3
Total                             Count                     52.0    86.0
                                  Expected Count            52.0    86.0
                                  % within Tempo_estudo     37.7    62.3
                                  % within Universidade    100.0   100.0
                                  % of Total                37.7    62.3

Universidade                                             Total
Tempo_estudo
1. Até 6h                         Count                    7.0
                                  Expected Count           7.0
                                  % within Tempo_estudo  100.0
                                  % within Universidade    5.1
                                  % of Total               5.1
                                  Standardized Residual
                                  Adjusted Residual
2. Mais de 6 até 9h&3. Mais de 9h Count                  131.0
                                  Expected Count         131.0
                                  % within Tempo_estudo  100.0
                                  % within Universidade   94.9
                                  % of Total              94.9
                                  Standardized Residual
                                  Adjusted Residual
Total                             Count                  138.0
                                  Expected Count         138.0
                                  % within Tempo_estudo  100.0
                                  % within Universidade  100.0
                                  % of Total             100.0

Universidade                              2. ISCTE 3. ISEG  Total
Tempo_estudo
2. Mais de 6 até 9h Count                     18.0    33.0   51.0
                    Expected Count            19.1    31.9   51.0
                    % within Tempo_estudo     35.3    64.7  100.0
                    % within Universidade     36.7    40.2   38.9
                    % of Total                13.7    25.2   38.9
                    Standardized Residual     -0.2     0.2
                    Adjusted Residual         -0.4     0.4
3. Mais de 9h       Count                     31.0    49.0   80.0
                    Expected Count            29.9    50.1   80.0
                    % within Tempo_estudo     38.8    61.3  100.0
                    % within Universidade     63.3    59.8   61.1
                    % of Total                23.7    37.4   61.1
                    Standardized Residual      0.2    -0.2
                    Adjusted Residual          0.4    -0.4
Total               Count                     49.0    82.0  131.0
                    Expected Count            49.0    82.0  131.0
                    % within Tempo_estudo     37.4    62.6  100.0
                    % within Universidade    100.0   100.0  100.0
                    % of Total                37.4    62.6  100.0

<font color="blue">
    
### 2.10.3. OR e RP
</font>

<font color="blue">
    
#### c) Medir a intensidade da associação usando OR e RP e analisar a discrepância, na Subtabela E.
</font>

In [8]:
# Tabela E
tabela_e = subtabelas[0]

# Função personalizada complementar_tabela_contingencia_com_analise_estatistica
calcular_odds_ratio_razao_risco_discrepancia(tabela_e, print_results=True)

,Value,95% CI Lower,95% CI Upper
Odds Ratio for Tempo_estudo (1. Até 6h / 2. Mais de 6 até 9h&3. Mais de 9h),9.850,3.873,25.049
RR (ou RP) for Universidade = 1. Nova,3.294,2.303,4.712
RR (ou RP) for Universidade = 2. ISCTE&3. ISEG,0.334,0.176,0.636
N. of Valid Cases,196,,

Discrepância = 1.990 e (θ * p21) = 2.215

<font color="blue">
    
#### d) Medir a intensidade da associação usando OR e RP e analisar a discrepância, na Subtabela G.
</font>

In [9]:
# Tabela G
tabela_g = subtabelas[1]

# Função personalizada complementar_tabela_contingencia_com_analise_estatistica
calcular_odds_ratio_razao_risco_discrepancia(tabela_g, print_results=True)

,Value,95% CI Lower,95% CI Upper
Odds Ratio for Tempo_estudo (2. Mais de 6 até 9h / 3. Mais de 9h),3.017,1.416,6.429
RR (ou RP) for Universidade = 1. Nova,2.353,1.294,4.278
RR (ou RP) for Universidade = 2. ISCTE&3. ISEG,0.780,0.653,0.932
N. of Valid Cases,169,,

Discrepância = 0.282 e (θ * p21) = 0.422