# Aplicações práticas

# 2.11 Exercício 11: Universidades e Tempo de estudo para Exame

## A. Enunciado 

Com base em um estudo transversal obtido por meio de um questionário sobre uma amostra aleatória de 458 turistas seniores em Lisboa (Pestana, H., Gageiro, J., 2005), pretende-se analisar a associação entre o sexo (1 Mulher, 2 Homem) e a tomada de medicação para doenças crônicas (1 Sim, 2 Não), segmentada por continente de origem (1 Não Europeu, 2 Europeu). Foram obtidos os dados da linha "Count" da Tabela 1 e do arquivo "cap02-exer11_Medicação Sexo Continente.sav" do IBM-SPSS e também estão organizados em um dicionário em Python. As variáveis são nominais, pois se definem unicamente pelo nome. A tabela de contingência é do tipo 2 x 2 x 3.

# Resolução em Python

## Carregando Bibliotecas

In [1]:
import pandas as pd  # Fornece DataFrames e Series para manipulação de dados em Python, facilitando operações como leitura, escrita, e manipulação de estruturas de dados tabulares.

## Funções Personalizadas

In [3]:
import sys

# Adicionar o caminho do diretório ao sys.path
sys.path.append(r"C:\Users\ricar\OneDrive\Área de Trabalho\Livro\Cap_02\socialdataanalysis")

from association import complementar_e_filtrar_tabelas_contingencia
from association import gerar_tabela_contingencia
from association import analisar_frequencias_esperadas
from association import complementar_tabela_contingencia_com_analise_estatistica
from association import calcular_odds_ratio_razao_risco_discrepancia
from association import avaliar_homogeneidade_odds_ratio
from association import avaliar_associacao_condicional

## Dados Fornecidos

In [4]:
# Dicionário com dados categorizados representando grupos e suas frequências
dados = {
    'Continente': [1, 1, 1, 1, 
                   2, 2, 2, 2], # 1. Não europeu, 2. Europeu
    'Sexo': [1, 1, 2, 2, 
             1, 1, 2, 2], # 1. Mulher, 2. Homem
    'Medicação': [1, 2, 1, 2, 
                  1, 2, 1, 2], # 1. Sim, 2. Não
    'Freq': [33, 23, 36, 38, 
             47, 51, 69, 149]
}

# Criando o DataFrame a partir do dicionário
dados = pd.DataFrame(dados)

# Convertendo as colunas para inteiros, se necessário
dados = dados.astype(int)

# Visualizando o dataframe
display(dados)

   Continente  Sexo  Medicação  Freq
0           1     1          1    33
1           1     1          2    23
2           1     2          1    36
3           1     2          2    38
4           2     1          1    47
5           2     1          2    51
6           2     2          1    69
7           2     2          2   149

## Tabela 1: Tabela de Contingência

In [5]:
# Obter automaticamente os nomes dos grupos e da coluna de frequência
grupos = dados.columns[:-1].tolist()  # Todos exceto a última coluna
categorias = {
    grupos[0]: ['1. Não Europeu', '2. Europeu'],
    grupos[1]: ['1. Mulher', '2. Homem'],
    grupos[2]: ['1. Sim', '2. Não']
}

tabela_contingencia = gerar_tabela_contingencia(dados, grupos, categorias)

display(tabela_contingencia)

Medicação                 1. Sim  2. Não
Continente     Sexo
1. Não Europeu 1. Mulher      33      23
               2. Homem       36      38
2. Europeu     1. Mulher      47      51
               2. Homem       69     149

## Tabela de Contingência com Cálculos

In [6]:
complementar_e_filtrar_tabelas_contingencia(tabela_contingencia, complementar_tabela_contingencia_com_analise_estatistica)

Medicação                               1. Sim 2. Não  Total
Continente     Sexo
1. Não Europeu 1. Mulher Count            33.0   23.0   56.0
                         Expected Count   29.7   26.3   56.0
                         % within Sexo    58.9   41.1  100.0
               2. Homem  Count            36.0   38.0   74.0
                         Expected Count   39.3   34.7   74.0
                         % within Sexo    48.6   51.4  100.0
               Total     Count            69.0   61.0  130.0
                         Expected Count   69.0   61.0  130.0
                         % within Sexo    53.1   46.9  100.0
2. Europeu     1. Mulher Count            47.0   51.0   98.0
                         Expected Count   36.0   62.0   98.0
                         % within Sexo    48.0   52.0  100.0
               2. Homem  Count            69.0  149.0  218.0
                         Expected Count   80.0  138.0  218.0
                         % within Sexo    31.7   68.3  100.0
               Total     Count           116.0  200.0  316.0
                         Expected Count  116.0  200.0  316.0
                         % within Sexo    36.7   63.3  100.0
Total          1. Mulher Count            80.0   74.0  154.0
                         Expected Count   63.9   90.1  154.0
                         % within Sexo    51.9   48.1  100.0
               2. Homem  Count           105.0  187.0  292.0
                         Expected Count  121.1  170.9  292.0
                         % within Sexo    36.0   64.0  100.0
               Total     Count           185.0  261.0  446.0
                         Expected Count  185.0  261.0  446.0
                         % within Sexo    41.5   58.5  100.0

<font color="blue">    
    
### 2.11.1. Pressupostos dos testes do Qui-Quadrado
</font>

<font color="blue">
    
#### a) Verificar a observância dos pressupostos dos testes do Qui-Quadrado.
</font>

In [7]:
analisar_frequencias_esperadas(tabela_contingencia)

Análise para: 1. Não Europeu


Fo: Medicação  1. Sim  2. Não
Sexo
1. Mulher      33      23
2. Homem       36      38

Fe: Medicação  1. Sim  2. Não
Sexo
1. Mulher    29.7    26.3
2. Homem     39.3    34.7

 a. 0 células (0.00%) têm uma frequência esperada menor que 5. A frequência esperada mínima é 26.28.
----------------------------------------------------------------------------------------------------

Análise para: 2. Europeu


Fo: Medicação  1. Sim  2. Não
Sexo
1. Mulher      47      51
2. Homem       69     149

Fe: Medicação  1. Sim  2. Não
Sexo
1. Mulher    36.0    62.0
2. Homem     80.0   138.0

 a. 0 células (0.00%) têm uma frequência esperada menor que 5. A frequência esperada mínima é 35.97.
----------------------------------------------------------------------------------------------------

<font color="blue">    
    
### 2.11.2. Efeito interativo e hipóteses
</fonte>

<font color="blue">
    
#### b) Saber se existe homogeneidade, ie, um comportamento semelhante do sexo segundo a medicação conforme o continente de origem dos turistas seniores. 
</font>

In [8]:
complementar_e_filtrar_tabelas_contingencia(tabela_contingencia, calcular_odds_ratio_razao_risco_discrepancia)

                                                           Value 95% CI Lower
Continente
1. Não Europeu Odds Ratio for Sexo (1. Mulher / 2. Homem)  1.514        0.751  \
               RR (ou RP) for Medicação = 1. Sim           1.211        0.879
               RR (ou RP) for Medicação = 2. Não           0.800        0.545
               N. of Valid Cases                             130
2. Europeu     Odds Ratio for Sexo (1. Mulher / 2. Homem)  1.990        1.221
               RR (ou RP) for Medicação = 1. Sim           1.515        1.141
               RR (ou RP) for Medicação = 2. Não           0.761        0.617
               N. of Valid Cases                             316
Total          Odds Ratio for Sexo (1. Mulher / 2. Homem)  1.925        1.295
               RR (ou RP) for Medicação = 1. Sim           1.445        1.164
               RR (ou RP) for Medicação = 2. Não           0.750        0.623
               N. of Valid Cases                             446

                                                          95% CI Upper
Continente
1. Não Europeu Odds Ratio for Sexo (1. Mulher / 2. Homem)        3.052
               RR (ou RP) for Medicação = 1. Sim                 1.669
               RR (ou RP) for Medicação = 2. Não                 1.174
               N. of Valid Cases
2. Europeu     Odds Ratio for Sexo (1. Mulher / 2. Homem)        3.243
               RR (ou RP) for Medicação = 1. Sim                 2.013
               RR (ou RP) for Medicação = 2. Não                 0.940
               N. of Valid Cases
Total          Odds Ratio for Sexo (1. Mulher / 2. Homem)        2.862
               RR (ou RP) for Medicação = 1. Sim                 1.792
               RR (ou RP) for Medicação = 2. Não                 0.903
               N. of Valid Cases

In [9]:
avaliar_homogeneidade_odds_ratio(tabela_contingencia)

Teste de Breslow-Day:
Chi-Squared: 0.3929
Asymp. Sig. (2-sided): 0.5308

Teste de Tarone:
Chi-Squared: 0.3928
Asymp. Sig. (2-sided): 0.5309

<font color="blue">    
    
### 2.11.3. Significância da associação e hipóteses
</fonte>

<font color="blue">
    
#### c) Havendo homogeneidade, analisar a significância da associação, usando o teste da independência condicional. 
</font>

In [10]:
avaliar_associacao_condicional(tabela_contingencia, calcular_significancia=True, calcular_ic=False)

Teste de Mantel-Haenszel com correção de continuidade:
Qui-Quadrado: 8.018
Significância Assintótica (bilateral): 0.005

<font color="blue">    
    
### 2.11.3. Significância da associação e hipóteses
</fonte>

<font color="blue">
    
#### d) Analisar a intensidade da associação através da estimativa do Mantel-Haenszel Common Odds ratio.
</font>

In [11]:
avaliar_associacao_condicional(tabela_contingencia, calcular_significancia=False, calcular_ic=True)

Razão de Chances Comum Estimada (Mantel-Haenszel):
Estimativa: 1.817
Intervalo de Confiança (95%): [1.217, 2.713]